@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap');


:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
  --chocolate-50: hsl(30, 54%, 48%);
}
body {
  margin-left: 50px;
  /* margin-right: 50px; */
}

/* Product list */

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.9rem;
  /* padding: 0rem; */
}

/* Product Card css */
.product-card {
  width: 300px;
  height: 430px;
  border-radius: 10px;
  border-color: black;
}
.product-card img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
.product-category {
  font-size: 0.9rem;
  color: var(--rose-400);
}
.product-name {
  font-size: 1.2rem;
  color: var(--rose-900);
}
.product-price {
  font-size: 1.2rem;
  color: var(--chocolate-50);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
